<section *ngIf="step1 == true">
  <div class="container">
    <div class="row vh-100 justify-content-center align-items-center ">
      <div class="col-lg-6 col-md-8 col-12 text-center">
        <img src="../../../assets/image/bot.jpg" width="150" alt="" class="mb-3">
        <h4>You are all set</h4>
        <p>Hello! I'm MHB Advisor, a virtual assistant here on behalf of Michael the Home Buyer.</p>
        <button  class="btn btn-danger" id="button-vary1" type="submit" (click)="nextStep1()">Chat with MHB Advisor</button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="step2 == true">
  <div class="container-fluid">
    <div class="row vh-100 ">
      <div class="col-lg-4 col-md-12 col-12 left-area">
        <ul>
          <li *ngFor="let message of chatMessages" [class]="message.role + ' message'">
            <div class="d-flex justify-content-send my-3">
              <div class="img_cont_msg">
                <img src="../../../assets/image/bot.jpg" class="rounded-circle user_img_msg" width="40">
              </div>
              <div class="msg_cotainer">
               {{message.content}}
              </div>
            </div>
            </li>
        </ul>
      
      </div>
      <div class="col-lg-8 col-md-12 col-12 py-5">
        <div *ngIf="step3 == true">
          <form #contactForm="ngForm" (ngSubmit)="contactFormData(contactForm)" class="needs-validation" novalidate="">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <h3>Add Property Address</h3>
                <div class="row mt-4">
                  <div class="col-lg-12">
                    <div class="form-floating mb-4">
                      <input type="text" class="form-control" ngx-google-places-autocomplete [options]="options"
                        (onAddressChange)="handleAddressChange($event)" id="floatingInput"
                        [(ngModel)]="formData.sessionFullStreetAddress" placeholder="Property address"
                        name="streetAddress" #streetAddressRef="ngModel" ngModel required="">
                      <label for="floatingInput">Property address*</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-floating mb-4">
                      <input type="text" class="form-control" id="floatingInput" [(ngModel)]="formData.firstName"
                        placeholder="First Name" name="firstName" #firstNameRef="ngModel" ngModel required="">
                      <label for="floatingInput">First name*</label>
                    </div>
                  </div>
                  <div class="col-lg-6  col-md-6 col-12">
                    <div class="form-floating mb-4">
                      <input type="text" class="form-control" id="floatingInput" [(ngModel)]="formData.lastName"
                        placeholder="Last Name" name="lastName" #lastNameRef="ngModel" ngModel required="">
                      <label for="floatingInput">Last name*</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12 ">
                <h3>Add Contact Info</h3>
                <div class="row mt-4">

                  <div class="col-lg-12">
                    <div class="form-floating mb-4">
                      <input type="tel" class="form-control" id="floatingInput" [(ngModel)]="formData.phoneNumber"
                        placeholder="Phone Number" [inputMask]="phoneNumberInputMask" name="phoneNumber"
                        #phoneNumberRef="ngModel" ngModel required="">
                      <label for="floatingInput">Phone number*</label>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-floating mb-4">
                      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="formData.email"
                        placeholder="Email" name="email" #emailRef="ngModel" ngModel required="">
                      <label for="floatingInput">Email*</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
            [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
              <button type="submit" class="btn btn-danger" id="button-vary1"
                [disabled]="!contactForm.form.valid">Next</button>
            </div>


          </form>
        </div>

        <div *ngIf="step4 == true">
          <form #propertyInformaion="ngForm" (ngSubmit)="propertyInformaionForm(propertyInformaion)" class="needs-validation" novalidate="">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-12">
                <h3>Property Information</h3>
                <div class="row mt-4">
                  <div class="col-lg-6">
                    <div class="form-floating mb-4">
                      <input type="number" min="0" max="100" class="form-control" id="floatingInput"
                        [(ngModel)]="formData2.ownedProperty" name="ownedProperty"
                        #ownedPropertyRef="ngModel" ngModel required="">
                      <label for="floatingInput"> How long have you owned the property? (in yrs)*</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-floating mb-4">
                      <select class="form-select " name="serviceReq" id="floatingSelect"
                        aria-label="Floating label select example" required="" (change)="selectChangeHandler1($event)">
                        <option *ngFor="let opt of this.propertyType" [value]="opt.label"
                          [selected]="opt.status == true">
                          {{opt.label}}</option>
                      </select>
                      <label for="floatingSelect">Type of property</label>
                    </div>

                  </div>
                  <div class="col-lg-4">
                    <div class="form-floating mb-4">
                      <input type="number" min="0" max="100000" class="form-control" id="floatingInput"
                        [(ngModel)]="formData2.sizeProperty" name="sizeProperty"
                        #sizeProperty="ngModel" ngModel required="">
                      <label for="floatingInput">Size of the property (sq ft)*</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-floating mb-4">
                      <input type="number" min="0" max="100" class="form-control" id="floatingInput"
                        [(ngModel)]="formData2.numberOfBedroom" name="numberOfBedroom"
                        #numberOfBedroomRef="ngModel" ngModel required="">
                      <label for="floatingInput">Number of bedrooms*</label>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-floating mb-4">
                      <input type="number" min="0" max="100" class="form-control" id="floatingInput"
                        [(ngModel)]="formData2.numberOfBathroom" name="numberOfBathroom"
                        #numberOfBathroomRef="ngModel" ngModel required="">
                      <label for="floatingInput">Number of bathroom*</label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-floating mb-4">
                      <input type="number" min="0" max="10000000" class="form-control" id="floatingInput"
                        [(ngModel)]="formData2.desiredSellingPrice" name="desiredSellingPrice"
                        #desiredSellingPriceRef="ngModel" ngModel required="">
                      <label for="floatingInput">What is your desired selling price? (C$)*</label>
                    </div>
                  </div>

                  <div class="col-lg-6">
                   
                    <div class="form-floating mb-4">
                      <select class="form-select " name="serviceReq" id="floatingSelect"
                        aria-label="Floating label select example" required="" (change)="selectChangeHandler2($event)">
                        <option *ngFor="let opt of this.sellingTimeline" [value]="opt.label"
                          [selected]="opt.status == true">
                          {{opt.label}}</option>
                      </select>
                      <label for="floatingSelect">What is your preferred timeline for selling?</label>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-floating mb-4">
                      <textarea class="form-control" [(ngModel)]="formData2.currentCondition" name="currentCondition" #currentConditionRef="ngModel" ngModel required="" style="height: 100px"></textarea>
                        <label for="floatingTextarea">Describe the current condition
                          of your property*</label>
                      
                    </div>

                  </div>

                  <div class="col-lg-12">
                    <div class="form-floating mb-4">
                        <textarea class="form-control" [(ngModel)]="formData2.motiveSellProperty" name="motiveSellProperty" #motiveSellPropertyRef="ngModel" ngModel required="" style="height: 100px"></textarea>
                        <label for="floatingTextarea">What is motivating you to sell
                          your property?*</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-4">
              
              <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
            [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
              <button type="button" class="btn btn-secondary me-3" id="button-vary1" (click)="goBack()">Back</button>
              <button type="submit" class="btn btn-danger" id="button-vary1"
                [disabled]="!propertyInformaion.form.valid">Submit</button>
            </div>


          </form>
        </div>

        <div *ngIf="step5 == true">
          <div class="row ">
            <div class="col-lg-12 col-md-6 col-12 ">
              <h3>Please confirm your deatils</h3>

              <div class="row">
              
                <div class="col-lg-8 col-md-6 col-12">
                  <h5 class="mt-3">Your Property Address</h5>
                  <p>Property address : <i>{{formData.sessionFullStreetAddress}}</i></p>
                  <p>First Name : <i>{{formData.firstName}}</i></p>
                  <p>Last Name : <i>{{formData.lastName}}</i></p>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <h5 class="pt-3">Your Contact Info</h5>
                  <p>Phone Number : <i>+1{{formData.phoneNumber}}</i></p>
                  <p>Email : <i>{{formData.email}}</i></p>
                </div>
                <div class="col-lg-12 col-12">
                  <h5 class="pt-3">Your Property Info</h5>
                  <p>How long have you owned the property? : <i>{{formData2.ownedProperty}}</i></p>
                  <p>Type of property : <i>{{this.selectedPropertyType}}</i></p>
                  <p>Size of the property (sq ft) : <i>{{formData2.sizeProperty}}</i></p>
                  <p>Number of bedrooms : <i>{{formData2.numberOfBedroom}} </i></p>
                  <p>Number of bathroom : <i>{{formData2.numberOfBathroom}}</i></p>
                  <p>What is your desired selling price? : <i>{{formData2.desiredSellingPrice}}</i></p>
                  <p>What is your preferred timeline for selling? : <i>{{this.selectedSellingTimeline}}</i></p>
                  <p>Describe the current condition
                    of your property : <i> {{formData2.currentCondition}}</i></p>
                  <p>What is motivating you to sell
                    your property? : <i>{{formData2.motiveSellProperty}}</i></p>
                </div>
              </div>
              <hr/>
              <button type="button" class="btn btn-secondary me-3" id="button-vary1" (click)="goBackFromPointForm()">Back</button>
              <button type="submit" class="btn btn-danger" id="button-vary1" (click)="confirmPointForm()">Confirm & Submit</button>
         
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
</section>
