<div class="container-fluid h-100">
  <div class="row justify-content-center vh-100">
    <div class="col-lg-3 col-md-12 left-area my-4 d-none d-lg-block">
     <div class="">
      <img
      src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
      width="120" alt="">
    <div class="mt-4">
      <p>
        Greetings! I'm Mikey, your AI Customer Support Assistant at Michael the Home Buyer. How can I help you today? Feel free to ask anything related to our services or any assistance you may need in your home buying journey.
      </p>
    </div>
    <div class="mb-4">
      <a href="https://michaelthehomebuyer.ca/" target="_blank" class="btn btn-outline-secondary ">Visit our
        website</a>
      <a href="https://michaelthehomebuyer.ca/contact" target="_blank" class="btn btn-outline-secondary mx-2">Contact
        us</a>
   

    </div>
     </div>
     <div class="pt-4">
     <p><small> Powered by <a href="https://michaelthehomebuyer.ca" target="_blank">Michael the Home Buyer</a></small></p>
      </div>
    </div>
    <div class="col-lg-9 col-md-12  chat">
      <div class="card">


        <div class="card-body msg_card_body" #scrollContainer>
          <ul class="messages">


            <div class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg">
                <img
                  src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                  class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer_send" id="bot-msg">
                Hi, I'm Mikey, an AI Customer Support Assistant for Michael the Home Buyer. Let's get you a quote! You know my name, what's yours? 
              </div>
            </div>

            <div class="d-flex justify-content-end mb-4">
              <div class="msg_cotainer">
              <p>  Hi, Mikey, nice to meet you, I'm</p>

              <form #fullnameForm="ngForm" (ngSubmit)="fullnameFormData(fullnameForm)" class="needs-validation"
              novalidate="">
              <div class="row">
        
                <div class="col-lg-12 col-md-12 col-12 ">
                  <div class="row">

                    <div class="col-lg-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" [(ngModel)]="formData.fullName"
                          placeholder="Full Name" name="fullName" #fullNameRef="ngModel" autocomplete="new-password" ngModel required="" #fullNameInput>
                        <label for="floatingInput">Enter your full name</label>
                      </div>
                    </div>
              
                  </div>
                </div>
              </div>

              <div class="mt-4">
                <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
                      [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
                <button type="submit" class="btn btn-danger" id="button-vary1"
                  [disabled]="!fullnameForm.form.valid"><i class="ti ti-circle-check-filled"></i> Submit</button>
              </div>


            </form>
                <!-- <div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" [(ngModel)]="formData.fullName"
                      placeholder="Full Name" name="fullName" #fullNameRef="ngModel" ngModel required=""
                      (keyup.enter)="formData.fullName && handleEnterKey1()">
                    <label for="floatingInput">Enter your full name</label>
                  </div>
                </div> -->
              </div>
            </div>

            <!-- <div *ngIf="loadingSpinner == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <div class="loader"> 
                    <span></span> 
                    <span ></span> 
                    <span ></span>
                  </div> 
                </div>
              </div>

            </div> -->

            <div *ngIf="step1 == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Hi, {{formData.fullName}}. Do you want to sell your home?</p>
                  <button class="btn btn-success my-2 me-2" (click)="sellHomeCondTrue()">Yes, i  want</button>
                  <button class="btn btn-secondary my-2" (click)="sellHomeCondFalse()">No</button>
                </div>
              </div>

            </div>

            <div *ngIf="step3 == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Ok cool, My goal is to get some information to pass along to our acquisition specialists. Please
                    provide me your following personal information. </p>
                </div>
              </div>


              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer">
                  <form #contactForm="ngForm" (ngSubmit)="contactFormData(contactForm)" class="needs-validation"
                    novalidate="">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-12">
                        <p>Add Property Address</p>
                        <div class="row mt-4">
                          <div class="col-lg-12">
                            <div class="form-floating mb-4">
                              <input type="text" class="form-control"  autocomplete="new-password" ngx-google-places-autocomplete [options]="options"
                                (onAddressChange)="handleAddressChange($event)" id="floatingInput"
                                [(ngModel)]="formData.sessionFullStreetAddress" placeholder="Property address"
                                name="streetAddress" #streetAddressRef="ngModel" ngModel required="" #propertyAddressInput>
                              <label for="floatingInput">Your Property address</label>
                              <div class="d-lg-block d-md-block d-block mb-lg-0 mb-md-0 m-2">
                                <img src="../../../assets/image/powered-by-google-transparent.png" width="100" alt="" >
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-12 ">
                        <p>Add Contact Info</p>
                        <div class="row mt-4">

                          <div class="col-lg-12">
                            <div class="form-floating mb-4">
                              <input type="tel" class="form-control"  autocomplete="new-password" id="floatingInput"
                                [(ngModel)]="formData.phoneNumber" placeholder="Phone Number"
                                [inputMask]="phoneNumberInputMask" name="phoneNumber" #phoneNumberRef="ngModel" ngModel
                                required="" #phoneInput>
                              <label for="floatingInput">Your Phone number</label>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-floating mb-4">
                              <input type="email" class="form-control" id="floatingInput" [(ngModel)]="formData.email"
                                placeholder="Email" name="email" #emailRef="ngModel" ngModel required="" #emailInput>
                              <label for="floatingInput">Your Email</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mt-4">
                      <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
                            [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
                      <button type="submit" class="btn btn-danger" id="button-vary1"
                        [disabled]="!contactForm.form.valid"><i class="ti ti-circle-check-filled"></i> Submit</button>
                    </div>


                  </form>
                </div>
              </div>



            </div>


            <div *ngIf="step4 == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p class="fw-bold">Please confirm your information</p>

                  <ul class="my-3">
                    <p class="fw-bold">Your Personal Information:</p>
                    <p>Full Name: <span class="fw-bold"><i>{{this.formData.fullName}}</i></span></p>
                    <p>Property Address: <span class="fw-bold"><i>{{this.formData.sessionFullStreetAddress}}</i></span> </p>
                    <p>Contact Number: <span class="fw-bold"><i>{{this.formData.phoneNumber}}</i></span> </p>
                    <p>Email: <span class="fw-bold"><i>{{this.formData.email}}</i></span></p>

                  </ul>
                  <button class="btn btn-success me-2" (click)="personalInformationConf()">Yes, confirmed</button>
                </div>
              </div>
            </div>

            <div *ngIf="step5 == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Thanks, for providing your personal information. We just need few more information about your
                    property. Please provide us with the below following information.</p>
                </div>
              </div>

              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer">

                  <form #propertyInformaion="ngForm" (ngSubmit)="propertyInformaionForm(propertyInformaion)"
                    class="needs-validation" novalidate="">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-12">
                        <p>Ok so, how long have you owned the property - {{this.formData.sessionFullStreetAddress}}?</p>
                        <div class="row mt-4">
                          <div class="col-lg-12">
                            <div class="form-floating mb-4">
                              <input type="number" min="0" max="100" class="form-control" id="floatingInput"
                                [(ngModel)]="formData2.ownedProperty" name="ownedProperty" #ownedPropertyRef="ngModel"
                                ngModel required=""  autocomplete="new-password" #ownedPropertyInput>
                              <label for="floatingInput">(in yrs)</label>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="mt-4">

                      <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
                            [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
                      <!-- <button type="button" class="btn btn-secondary me-3" id="button-vary1" (click)="goBack()">Back</button> -->
                      <button type="submit" class="btn btn-danger" id="button-vary1"
                        [disabled]="!propertyInformaion.form.valid"><i class="ti ti-circle-check-filled"></i> Submit</button>
                    </div>


                  </form>
                </div>
              </div>

            </div>


            <div *ngIf="propertyDetailsStep == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Okay, thank you.</p>
                </div>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer">
                  <p>What are the details of the property, including its type, size, number of bedrooms, and number of
                    bathrooms?</p>
                  <form #propertyDetails="ngForm" (ngSubmit)="propertyDetailsForm(propertyDetails)"
                    class="needs-validation" novalidate="">
                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <div class="form-floating mb-4">
                          <select class="form-select " name="serviceReq" id="floatingSelect"
                            aria-label="Floating label select example" required=""
                            (change)="selectChangeHandler1($event)">
                            <option *ngFor="let opt of this.propertyType" [value]="opt.label"
                              [selected]="opt.status == true">
                              {{opt.label}}</option>
                          </select>
                          <label for="floatingSelect">Type of property</label>
                        </div>

                      </div>
                      <div class="col-lg-6">
                        <div class="form-floating mb-4">
                          <input type="text" class="form-control" id="floatingInput"
                            [(ngModel)]="formData2.sizeProperty" name="sizeProperty" #sizeProperty="ngModel"  autocomplete="new-password" ngModel
                            required="" #sizePropertyInput [inputMask]="numericDecimalInputMask" placeholder="0">
                          <label for="floatingInput">Size of the property (sq ft)</label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-floating mb-4">
                          <input type="text" class="form-control" id="floatingInput"
                            [(ngModel)]="formData2.numberOfBedroom" name="numberOfBedroom" #numberOfBedroomRef="ngModel"  autocomplete="new-password"
                            ngModel required="" #numberOfBedroomInput [inputMask]="numericInputMask" placeholder="0">
                          <label for="floatingInput">Number of bedrooms</label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-floating mb-4">
                          <input type="text" class="form-control" id="floatingInput"
                            [(ngModel)]="formData2.numberOfBathroom" name="numberOfBathroom"
                            #numberOfBathroomRef="ngModel"  autocomplete="new-password" ngModel required="" #numberOfBathroomInput [inputMask]="numericInputMask" placeholder="0">
                          <label for="floatingInput">Number of bathroom</label>
                        </div>
                      </div>
                    </div>

                    <div class="mt-4">

                      <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
                          [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
                      <!-- <button type="button" class="btn btn-secondary me-3" id="button-vary1" (click)="goBack()">Back</button> -->
                      <button type="submit" class="btn btn-danger" id="button-vary1"
                        [disabled]="!propertyDetails.form.valid"><i class="ti ti-circle-check-filled"></i>  Submit</button>
                    </div>


                  </form>
                </div>
              </div>

            </div>


            <div *ngIf="currentCondStep == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Okay, thank you.</p>
                </div>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer">
                  <p>Can you tell me about the current condition of the property? Any recent upgrades or improvements
                    you'd like to mention?</p>
                  <form #currentCondStep="ngForm" (ngSubmit)="currentCondStepForm(currentCondStep)"
                    class="needs-validation" novalidate="">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-floating mb-4">
                          <textarea class="form-control" [(ngModel)]="formData2.currentCondition"
                            name="currentCondition" #currentConditionRef="ngModel"  autocomplete="new-password" ngModel required=""
                            style="height: 100px" #currentConditionInput></textarea>

                          <label for="floatingTextarea">Current Condition and Upgrades</label>
                        </div>

                      </div>


                    </div>

                    <div class="mt-4">

                      <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
                          [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
                      <!-- <button type="button" class="btn btn-secondary me-3" id="button-vary1" (click)="goBack()">Back</button> -->
                      <button type="submit" class="btn btn-danger" id="button-vary1"
                        [disabled]="!currentCondStep.form.valid"><i class="ti ti-circle-check-filled"></i> Submit</button>
                    </div>


                  </form>
                </div>
              </div>

            </div>


            <div *ngIf="sellingIntentions == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Okay, thank you.</p>
                </div>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer">
                  <p>What's your desired selling price and timeline for the sale?</p>
                  <form #sellingIntentions="ngForm" (ngSubmit)="sellingIntentionsForm(sellingIntentions)"
                    class="needs-validation" novalidate="">
                    <div class="row">
                      <div class="col-lg-12">

                        <div class="col-lg-12">
                          <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingInput"
                              [(ngModel)]="formData2.desiredSellingPrice" name="desiredSellingPrice"
                              #desiredSellingPriceRef="ngModel"  autocomplete="new-password" ngModel required="" #desiredSellingPriceInput [inputMask]="currencyInputMask" placeholder="0">
                            <label for="floatingInput">Desired selling price (C$)</label>
                          </div>
                        </div>

                        <div class="col-lg-12">

                          <div class="form-floating mb-4">
                            <select class="form-select " name="serviceReq" id="floatingSelect"
                              aria-label="Floating label select example" required=""
                              (change)="selectChangeHandler2($event)">
                              <option *ngFor="let opt of this.sellingTimeline" [value]="opt.label"
                                [selected]="opt.status == true">
                                {{opt.label}}</option>
                            </select>
                            <label for="floatingSelect">Preferred timeline for selling</label>
                          </div>
                        </div>
                      </div>


                    </div>

                    <div class="mt-4">

                      <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
                          [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
                      <!-- <button type="button" class="btn btn-secondary me-3" id="button-vary1" (click)="goBack()">Back</button> -->
                      <button type="submit" class="btn btn-danger" id="button-vary1"
                        [disabled]="!sellingIntentions.form.valid"><i class="ti ti-circle-check-filled"></i> Submit</button>
                    </div>


                  </form>
                </div>
              </div>

            </div>

            <div *ngIf="reasonForSelling == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Okay, thank you.</p>
                </div>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer">
                  <p>What's the reason behind selling the property?</p>
                  <form #reasonForSelling="ngForm" (ngSubmit)="reasonForSellingForm(reasonForSelling)"
                    class="needs-validation" novalidate="">
                    <div class="row">
                      <div class="col-lg-12">




                        <div class="col-lg-12">
                          <div class="form-floating mb-4">
                            <textarea class="form-control" [(ngModel)]="formData2.motiveSellProperty"
                              name="motiveSellProperty" #motiveSellPropertyRef="ngModel"  autocomplete="new-password" ngModel required=""
                              style="height: 100px" #motiveSellPropertyInput></textarea>
                            <label for="floatingTextarea">Reason for Selling</label>



                          </div>
                        </div>
                      </div>


                    </div>

                    <div class="mt-4">

                      <!-- <button class="btn btn-danger" id="button-vary1" type="submit" 
                          [disabled]="!contactForm.form.valid">Get a cash offer</button> -->
                      <!-- <button type="button" class="btn btn-secondary me-3" id="button-vary1" (click)="goBack()">Back</button> -->
                      <button type="submit" class="btn btn-danger" id="button-vary1"
                        [disabled]="!reasonForSelling.form.valid"><i class="ti ti-circle-check-filled"></i> Submit</button>
                    </div>


                  </form>
                </div>
              </div>

            </div>


            <div *ngIf="step6 == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p class="fw-bold">Please confirm your information</p>

                  <ul class="my-3">
                    <p class="fw-bold">Your Personal Information:</p>
                    <p>Full Name: <span class="fw-bold"><i>{{this.formData.fullName}}</i></span></p>
                    <p>Property Address: <span class="fw-bold"><i>{{this.formData.sessionFullStreetAddress}}</i></span> </p>
                    <p>Contact Number: <span class="fw-bold"><i>{{this.formData.phoneNumber}}</i></span></p>
                    <p>Email: <span class="fw-bold"><i>{{this.formData.email}}</i></span></p>

                  </ul>

                  <ul class="mb-3">
                    <p class="fw-bold">Your Property Information:</p>

                    <p>How long have you owned the property? : <span class="fw-bold"> </span><i>{{formData2.ownedProperty}}</i></p>
                    <p>Type of property : <span class="fw-bold"><i>{{this.selectedPropertyType}}</i></span></p>
                    <p>Size of the property (sq ft) : <span class="fw-bold"><i>{{formData2.sizeProperty}}</i></span></p>
                    <p>Number of bedrooms : <span class="fw-bold"><i>{{formData2.numberOfBedroom}} </i></span></p>
                    <p>Number of bathroom : <span class="fw-bold"><i>{{formData2.numberOfBathroom}}</i></span></p>
                    <p>What is your desired selling price? : <span class="fw-bold"><i>{{formData2.desiredSellingPrice}}</i></span></p>
                    <p>What is your preferred timeline for selling? : <span class="fw-bold"><i>{{this.selectedSellingTimeline}}</i></span></p>
                    <p>Describe the current condition
                      of your property : <span class="fw-bold"><i> {{formData2.currentCondition}}</i></span></p>
                    <p>What is motivating you to sell
                      your property? : <span class="fw-bold"><i>{{formData2.motiveSellProperty}}</i></span></p>
                  </ul>
                  <button class="btn btn-success me-2" (click)="propertyInformaionConf()">Yes, confirmed</button>
                </div>
              </div>
            </div>

            <div *ngIf="pleaseWait == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  Please wait, we are processing your information..
                </div>
              </div>
            </div>

            <div *ngIf="step7 == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Okay thank you {{formData.firstName}}. And thank you for reaching out to us today. I have jotted
                    down your information, I'll pass it along to an acquisition specialist. They will do an assessment
                    and then get back to you within a few hours.</p>
                </div>
              </div>

              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">

                  <p>Feel free to reach out if you have any questions or if there's anything else you'd like to know
                    about us. I'm here to help!</p>
                  <button type="button" class="btn btn-outline-secondary" (click)="preQues1()">Who is Michael the Home
                    Buyer?</button>
                  <button type="button" class="btn btn-outline-secondary m-2" (click)="preQues2()">How long is the
                    process to sell?</button>
                  <button type="button" class="btn btn-outline-secondary" (click)="preQues2()">What is the contact
                    information of MHB?</button>

                </div>
              </div>
            </div>

            <div *ngIf="errorFormSubmit == true">
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Apologies, {{formData.fullName}}, I'm experiencing a technical issue and can't submit your
                    information right now. Please provide your contact details at <a
                      href="https://michaelthehomebuyer.ca/contact"
                      target="_blank">https://michaelthehomebuyer.ca/contact</a>. We'll make sure to reach out to you
                    promptly.</p>
                </div>
              </div>

              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">

                  <p>Feel free to reach out if you have any questions or if there's anything else you'd like to know
                    about us. I'm here to help!</p>
                  <button type="button" class="btn btn-outline-secondary" (click)="preQues1()">Who is Michael the Home
                    Buyer?</button>
                  <button type="button" class="btn btn-outline-secondary m-2" (click)="preQues2()">How long is the
                    process to sell?</button>
                  <button type="button" class="btn btn-outline-secondary" (click)="preQues2()">What is the contact
                    information of MHB?</button>

                </div>
              </div>
            </div>

            <div *ngIf="step8 == true">

              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img
                    src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                    class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg">
                  <p>Thank you for letting me know. If you ever change your mind or have any other questions, feel free
                    to reach out. I'm here to assist you with anything you need.</p>
                  <button type="button" class="btn btn-outline-secondary" (click)="preQues1()">Who is Michael the Home
                    Buyer?</button>
                  <button type="button" class="btn btn-outline-secondary m-2" (click)="preQues2()">How long is the
                    process to sell?</button>
                  <button type="button" class="btn btn-outline-secondary" (click)="preQues3()">What is the contact
                    information of MHB?</button>

                </div>
              </div>

              <div class="row d-flex justify-content-end mb-3">
                <div class="col-lg-10 col-md-10 col-11 text-end">
                  <!-- <button type="button" class="btn btn-outline-secondary m-2" (click)="preQues2()">What is the process to sell house?</button>              
                <button type="button" class="btn btn-outline-secondary" (click)="preQues3()">How long is the process to sell?</button>
                <button type="button" class="btn btn-outline-secondary m-2" (click)="preQues4()">Do you buy condominiums?</button>              -->
                </div>
              </div>
            </div>


            <li *ngFor="let message of chatMessages" [class]="message.role + ' message'">
              <div *ngIf="message.role == 'user'; else elseBlock">
                <div class="d-flex justify-content-end mb-4">

                  <div class="msg_cotainer">
                    {{ message.content }}
                  </div>
                </div>
              </div>

              <ng-template #elseBlock>

                <div  *ngIf="message.content == '...'; else elseBlockBotLoading">
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                      <img
                        src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                        class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer_send" id="bot-msg">
                      <div class="loader"> 
                        <span></span> 
                        <span ></span> 
                        <span ></span>
                      </div> 
                    </div>
                  </div>
                </div>
              
              </ng-template>

              <ng-template #elseBlockBotLoading>
                <div class="d-flex justify-content-start mb-4">
                  <div class="img_cont_msg">
                    <img
                      src="../../../assets/image/artificial-ai-chat-bot-icon-600nw-2281213775.webp"
                      class="rounded-circle user_img_msg">
                  </div>
                  <div class="msg_cotainer_send" id="bot-msg">
                    {{ message.content }}
                  </div>

                </div>
              </ng-template>



            </li>
          </ul>
        </div>
        <div *ngIf="isTextareaDisabled == false">
          <div class="card-footer">
            <div class="input-group">
  
              <textarea name="" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="userMessage"
                (keyup.enter)="sendMessage()" [disabled]="isTextareaDisabled"></textarea>
  
              <button class="btn btn-danger" (click)="sendMessage()" [disabled]="!userMessage">Ask</button>
  
              <!-- <div class="input-group-append">
                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div> -->
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
