<div class="container">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
     
      <div class="modal-body py-4">
        <img src="../../../assets/image/bot.jpg" width="100" alt="">
        <h4 class="mt-4">{{message || 'TADAA-AM!'}}</h4>
        <p>Thank you! We have recived your response, and your information has been forwarded to one of our qualified specialist.You will be contacted within the next hour to discuss further details and receive a fair cash offer.</p>
        <p>Redirecting in: {{ currentValue }}</p>
      </div>
     
    </div>
    

  </div>

</div>