/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;

}

h1,h2,h3,h4,h5{
    font-family: 'DM Serif Display', serif;
}


body {
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Merriweather', serif; */
      /* font-family: 'Spectral', serif; */
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 14px; 
     zoom: 80% !important;
}


@media only screen and (max-width: 600px) {
    body, .btn{
    font-size: 14px;

    }
  }


i, .fw-bold{
    font-weight: 800 !important;
    font-family: 'Noto Sans', sans-serif;
}
